### Business Problem 
 
This is a peer comparison project. Suppose that you are working for Samsung in customer experience management team. The idea is to regularly monitor the customer satisfaction levels and peer company moves. The competitor company is Apple. The objective is to test two main hypothesis. 
 
1. The Samsung Average customer satisfaction score is minimum 75%.
2. The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores 
 
â€¢ It might be possible that both hypothesis are correct, one of them is correct or both of them are wrong. Perform the relevant testing to verify these assumptions 
 
The data is collected for 100 Samsung customers and 100 Apple customers. Their satisfaction scores are recorded. The sample represent the data and it is unbiased.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [2]:
Data = pd.read_csv('C:/Users/Lenovo/Desktop/DATA ANALYTICS-BOOTCAMP,2019/PYTHON/CASE STUDIES/8. Basic Stats - Case Study-2/Testing_of_hypothesis.csv')

In [14]:
Data.head(2)

   Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83

In [12]:
Data["Samsung Score"].mean()

84.9

In [10]:
Data.mean()

Sr No            50.50
Samsung Score    84.90
Apple_Score      87.81
dtype: float64

# For first hypothesis:
    The Samsung Average customer satisfaction score is minimum 75%.
       - As there is only one parameter/variable to compare the data with so we should perform one sample T-test.
       - Also sample mean we got from calculation is 84, so here I assume the popoulation means to be 75 as question mentioned          it to be 75% and we had samp[le size of hundered

In [10]:
Data_R = Data.rename(columns={'Samsung Score':'Samsung_Score'})
Data_R.head(1)

   Sr No S_Cust_id  Samsung_Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82

In [21]:
T_test=stats.ttest_1samp(a=Data_R.Samsung_Score, popmean=75)
T_Score = round(T_test.statistic,2)
P_value = T_test.pvalue

In [22]:
print("The P value is {} and T-test score is {}".format(P_value,T_Score))

The P value is 4.0739777034636007e-13 and T-test score is 8.36

# Conclusion: 
    * As the pvalue is lower than alpha we fail to accept the Null Hypothesis.
        -- That means: We reject our hypothesis "the Samsung average customer satisfaction score is minimum 75%" which doen't 
            come out to be true

# For Second Hypothesis:
    The overall average satisfaction score of Samsung is same as Apple. There is no significant difference
    in the satisfaction scores 
        --As this is the comparision between different hand sets we should carry out the "independent-T.test"

In [24]:
stats.ttest_ind(a=Data_R.Samsung_Score,b=Data_R.Apple_Score,equal_var=False)

Ttest_indResult(statistic=-1.9064295935043474, pvalue=0.05810311766331876)

In [25]:
stats.ttest_ind(a=Data_R.Samsung_Score,b=Data_R.Apple_Score,equal_var=True)

Ttest_indResult(statistic=-1.9064295935043472, pvalue=0.058042614444118075)

#Conclusion:
    ** As the Independ T.test score with both equal and unequal varaiance are same so, we choose the equal variance value to
       compare with alpha and alpha is slightly higher than alpha
    ** Which implies that we failed to reject Our Hypothesis" The overall average satisfaction score of Samsung is same as 
       Apple. There is no significant difference in the satisfaction scores"
    ** That Means there is a difference in customer satisfaction score for Samsung users and Apple users.